*.db
*.exe
*.dll
*.o

# VSCode
.vscode

# Exclude from upgrade
tools/upgrade/*.c
tools/upgrade/*.h

# Exclude upgrade binary
cmd/upgrade/upgrade

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.idea