sudo: required
dist: trusty
os:
  - linux
  - osx
language: go
go:
  - 1.5
  - 1.6
  - tip
before_install:
  - ./.travis/install.sh
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
script:
  - $HOME/gopath/bin/goveralls 
  - go test . -a -tags "libsqlite3"
